h2{
    margin-top: 90px;
    width: 100%;
    height: 120%;
    text-align: center;
    color: #4b4b4b;
}
.productos{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}
.sel, .sel2{
    width: 50% !important;
}
.insertar{
display:none;
}
.update{
    display: none;
}
.update form{
    margin: 20px;
    padding: 20px;
}
.insertarStock, .updateStock{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    background-color:#d4d1d1;
    border-radius: 5px;
}
button{
    margin: 10px;
}
.insertarStock input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.updateStock input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.updateStock input[type=number], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.insertarStock input[type=number], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.insertarStock input[type=button-green], .update input[type=button-green]{
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width:30%;
}
.insertarStock input[type=reset], .update input[type=reset] {
    background-color: #e2321b;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.update input[type=button-elim]{
    background-color: #e28c1b;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width:30%;
}