/* Base */
body {
  line-height: 1.7;
  color: #8c92a0;
  font-weight: 300;
  font-size: 16px;
}

::selection {
  background: #000;
  color: #fff;
}

a {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
a:hover {
  text-decoration: none;
}


.site-section {
  padding: 2.5em 0;
}
@media (min-width: 768px) {
  .site-section {
    padding: 5em 0;
  }
}
.site-section.site-section-sm {
  padding: 4em 0;
}

.site-section-heading {
  font-size: 30px;
  color: #25262a;
  position: relative;
}
.site-section-heading:before {
  display: none;
  content: "";
  left: 0%;
  top: 0;
  position: absolute;
  width: 40px;
  height: 2px;
  background: #51eaea;
}
.site-section-heading.text-center:before {
  display: none;
  content: "";
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  position: absolute;
  width: 40px;
  height: 2px;
  background: #51eaea;
}


  /* Escaparate */
  #description {
    padding: 20px;
    width: 80%;
    margin: auto;
  }
  
  /* TITULO Y TEXTO */
  h2 {
    text-align: center;
    margin: 10px;
  }
  
  .texto, h2, a{
    color: black;
  }
  .texto-light{
    color: black;
  }
  #img_hist{
    min-width: 40vw;
    max-width: 50vw;
    min-height: 40vh;
    max-height: 50vh;
    object-fit: cover;
  }

/* Nombre Tienda*/
.nom-tienda{
    margin-top: 90px;
    width: 100%;
    height: 120%;
    font-style: italic;
    text-align: center;
}

.texto1{
  padding-left: 40px;
  padding-right: 40px;
  font-size: large;
  text-align: justify;
  line-height : 30px;
  text-indent: 50px;
}
  

/* Productos carrito */


.card-prod {
  background-color: #f1efef;
  width: calc( ( 100% / 3 ) - 5rem ) !important;
  margin: 50px auto;
  color: black;
  border-radius: 0 !important;
  border: transparent;
  padding: 25px;
}

.card-prod:hover {
  transform: scale(1.03);
  transition: 0.5s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.carta-prod .texto{
  margin-top: 70px;
  font-size: large;
}
.card-prod .titulo {
  cursor: pointer;
  font-weight: 600;
  font-style: normal;
  font-size: 18px !important;
  color: #474747;
}

.card-prod .titulo:hover {
  color: red;
  cursor: pointer;
}

.card-prod .texto {
  font-weight: 200;
  font-style: normal;
  font-size: 14px !important;
  line-height: 1.7em;
  color: #000;
}

.card-prod .imagen {
  background-position: center center;
  background-size: 250px 300px;
  background-repeat: no-repeat;
  height: 200px;
  width: 200xp;

}


    
.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close {
  float: right;
  margin-top: 8px;
}
.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span {
  font-size: 40px;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 1;
  cursor: pointer;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span:hover {
  color: #25262a;
}
.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo {
  float: left;
  margin-top: 10px;
  margin-left: 20px;
}
.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a {
  display: inline-block;
  text-transform: uppercase;
  color: #000;
  letter-spacing: 0.2em;
  font-size: 22px;
  font-weight: 900;
}
.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a:hover {
  text-decoration: none;
}
.site-mobile-menu .site-mobile-menu-body {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  position: relative;
  padding: 20px;
  height: calc(100vh - 52px);
  padding-bottom: 150px;
}
.site-mobile-menu .site-nav-wrap {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}
.site-mobile-menu .site-nav-wrap a {
  padding: 10px 20px;
  display: block;
  position: relative;
  color: #212529;
}
.site-mobile-menu .site-nav-wrap a:hover {
  color: #51eaea;
}
.site-mobile-menu .site-nav-wrap li {
  position: relative;
  display: block;
}
.site-mobile-menu .site-nav-wrap li.active > a {
  color: #51eaea;
}
.site-mobile-menu .site-nav-wrap .arrow-collapse {
  position: absolute;
  right: 0px;
  top: 10px;
  z-index: 20;
  width: 36px;
  height: 36px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
}
.site-mobile-menu .site-nav-wrap .arrow-collapse:hover {
  background: #f8f9fa;
}
.site-mobile-menu .site-nav-wrap .arrow-collapse:before {
  font-size: 18px;
  z-index: 20;
  font-family: "icomoon";
  content: "\e313";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-180deg);
  -ms-transform: translate(-50%, -50%) rotate(-180deg);
  transform: translate(-50%, -50%) rotate(-180deg);
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.site-mobile-menu .site-nav-wrap .arrow-collapse.collapsed:before {
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.site-mobile-menu .site-nav-wrap > li {
  display: block;
  position: relative;
  float: left;
  width: 100%;
}
.site-mobile-menu .site-nav-wrap > li > a {
  padding-left: 20px;
  font-size: 20px;
}
.site-mobile-menu .site-nav-wrap > li > ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.site-mobile-menu .site-nav-wrap > li > ul > li {
  display: block;
}
.site-mobile-menu .site-nav-wrap > li > ul > li > a {
  padding-left: 40px;
  font-size: 16px;
}
.site-mobile-menu .site-nav-wrap > li > ul > li > ul {
  padding: 0;
  margin: 0;
}
.site-mobile-menu .site-nav-wrap > li > ul > li > ul > li {
  display: block;
}
.site-mobile-menu .site-nav-wrap > li > ul > li > ul > li > a {
  font-size: 16px;
  padding-left: 60px;
}

/* Blocks */
.site-blocks-cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}
.site-blocks-cover,
.site-blocks-cover > .container > .row {
  min-height: 700px;
  height: calc(100vh);
}
.site-blocks-cover.inner-page,
.site-blocks-cover.inner-page .row {
  min-height: 400px;
  height: 700px;
}
.site-blocks-cover h2 {
  font-size: 14px;
  font-weight: normal;
  color: #000;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
@media (max-width: 991.98px) {
  .site-blocks-cover .featured-hero-product {
    margin-top: 10%;
    position: absolute;
  }
}
.site-blocks-cover h1 {
  font-size: 50px;
  font-weight: 900;
  color: #fff;
  margin-bottom: 30px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .site-blocks-cover h1 {
    font-size: 70px;
  }
}
.site-blocks-cover p {
  color: #fff;
  font-size: 20px;
  line-height: 35px;
}
.site-blocks-cover .intro-text {
  font-size: 16px;
  color: #fff;
  line-height: 1.5;
}
.site-blocks-cover.inner-page .site-block-cover-content {
  margin-top: 20%;
  text-align: center;
}
@media (min-width: 768px) {
  .site-blocks-cover.inner-page .site-block-cover-content {
    margin-top: 30%;
  }
}
.site-blocks-cover .sub-title {
  color: #fff;
}

.banner-wrap {
  background: #74d12b;
  border-radius: 4px;
}
.banner-wrap a {
  padding: 30px;
  display: block;
  text-align: center;
}
.banner-wrap a h5 {
  font-size: 2rem;
  font-style: italic;
  margin-bottom: 10px;
}
.banner-wrap a h5,
.banner-wrap a p {
  color: #fff;
}
.banner-wrap a p {
  color: #fff;
  font-size: 1.4rem;
}
.banner-wrap a p strong {
  font-size: 0.9rem;
  display: block;
}

.banner-1 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
  display: block;
  min-height: 300px;
  border-radius: 4px;
  -webkit-box-shadow: 0 10px 30px -15px rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 30px -15px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  position: relative;
  top: 0;
}
.banner-1:hover {
  top: -10px;
  -webkit-box-shadow: 0 10px 30px -15px rgba(0, 0, 0, 0.4);
  box-shadow: 0 10px 30px -15px rgba(0, 0, 0, 0.4);
}
.banner-1 .banner-1-inner {
  width: 50%;
}
.banner-1 .banner-1-inner h2 {
  color: #000;
  text-transform: uppercase;
  font-weight: 900;
}
.banner-1 .banner-1-inner p {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.2rem;
}
.testimony blockquote p {
  color: #000;
  font-family: "Crimson Text", serif;
  font-size: 1.3rem;
  line-height: 1.5;
  font-style: italic;
}
.bg-image {
  background-size: cover;
  position: relative;
}
.bg-image:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(81, 234, 234, 0.9);
  z-index: 1;
}
.bg-image > .container {
  position: relative;
  z-index: 2;
}
.section-overlap {
  margin-top: -150px;
}
.custom-pill .nav-item {
  margin-right: 4px;
}
.custom-pill .nav-item a {
  background: #f4f4f4;
  color: #000 !important;
}
.custom-table th {
  color: #000;
  font-weight: normal;
}
.custom-table td {
  color: #000;
}
