/*Botones en el navbar*/

.botonesAcciones {
    text-align: start;
    margin-top: 10px;
    padding: 10px;
}

/*Datos ahref nav*/

.volveraDatos {
    display: none;
}

/*Lupa buscar usuario*/

#btnBuscarUsuario {
    display: none;
    margin-left: 200px;
}

/*Filtro que busca los usuarios*/

#divFiltro {
    display: none;
    padding: 5px;
    margin: 10px auto;
    width: 70%;
}

/*Cerrar filtro*/

.cerrarfiltro {
    font-size: 60px;
    color: black;
    margin-left: 800px;
}

/*Da color rojo al botón de cerra filtro*/

.cerrarfiltro:hover {
    color: red;
    text-decoration: none;
}

/*Colores azules a los botones del nav*/

.botonesAcciones a {
    color: #0255A5;
    font-weight: 600;
    font-size: 1em;
    text-decoration: none;
    padding-bottom: 1em;
    margin-left: 30px;
}

/*Al hacer hover en los botones del nav*/

.botonesAcciones a:hover {
    border-bottom: 3px solid #0255A5;
}

/*header del container de datos de usuario*/

.header {
    text-align: center;
    height: 600px;
    padding: 12px;
    background-color: white;
    width: 70%;
    margin: 0 auto;
    border: 2px solid black;
}

.header h1 {
    color: black;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 3px;
    text-align: center;
    text-transform: uppercase;
}

/*imagen usuario*/

.avatar {
    height: 140px !important;
    width: 140px !important;
    border-radius: 50%;
}

.nombreUsuario {
    font-size: 18px;
    margin-top: 14px;
}

.datosUsuario {
    list-style: none;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.datosUsuario li {
    font-size: 0.5em;
    font-weight: 600;
    margin: 20px;
}

/* Apartado de usuarios Usuarios*/

/*Div general de usuarios*/

#usuarios {
    width: 100%;
    margin: auto;
    /*Color de  la clase jumbotron en Bootstrap 4 */
    background-color: #e9ecef;
    height: auto;
}

/*Card de cada usuario*/

#usuarios #card {
    height: 100px;
    width: 100%;
    background-color: white;
    margin-top: 20px;
}

.card {
    min-height: auto !important;
}

.card-body {
    display: flex;
}

.card-body p {
    margin: 20px;
}

.accionesUsuario {
    margin-left: 100px;
    display: flex;
    text-align: center;
}

 .card-body button {
    margin: 10px;
    padding: 10px;
    height: 40px;
}

.card-body button i {
    font-size: 20px;
}

/*Formulario Update*/

input {
    line-height: normal;
}

#formUpdate, #formUpdateDatosPersonales, #formNuevoPorducto {
    border: solid 3px #474544;
    width: 95%;
    margin: 60px auto;
    position: relative;
    display: none;
}

#formUpdate h1, #formUpdateDatosPersonales h1 {
    text-align: center;
    color: black;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 40px;
}

form {
    padding: 37.5px;
    margin: 50px 0;
}

.underline {
    border-bottom: solid 2px #474544;
    margin: 2em auto;
    width: 150px
}

.icon {
    display: block;
    fill: #474544;
    height: 50px;
    margin: 0 auto;
    width: 50px;
}

/*Input de la izquierda el id y el input de la derecha el admin*/

.adminForm {
    float: right;
    width: 45%;
}

.idForm {
    float: left;
    width: 45%;
}

/*No queremos actualizar el admin ni el id, ponemos el input más oscuro*/

input[id='admin_input'], input[id='id_input'], input[id='id_inputpersonal'], input[id='admin_inputpersonal'], input[id="tipoTiendaUpdate"] {
    opacity: 0.5;
    border: none;
    border-bottom: solid 2px #474544;
    color: #474544;
    font-size: 1.000em;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0em 0 1.875em 0;
    padding: 0 0 0.875em 0;
    width: 100%;
    box-sizing: border-box;
    transition: all 0.3s;
}

input[type='text'], [type='email'] {
    background: none;
    border: none;
    border-bottom: solid 2px #474544;
    color: #474544;
    font-size: 1.000em;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0em 0 1.875em 0;
    padding: 0 0 0.875em 0;
    width: 100%;
    box-sizing: border-box;
    transition: all 0.3s;
}

input[type='text']:focus, [type='email']:focus, [type='number']:focus {
    outline: none;
    padding: 0 0 0.875em 0;
}

.passwordForm, .nombre, .apellidoForm, .correoForm {
    width: 100%;
}

.submit {
    margin-left: 560px;
    margin-top: 70px;
}

/*Boton cancelar update form*/

#cancelarUpdate, #cancelarInsertTienda, #cancelarupdateTienda {
    background: none;
    border: solid 2px #474544;
    color: #474544;
    cursor: pointer;
    display: inline-block;
    font-family: 'Helvetica', Arial, sans-serif;
    font-size: 0.875em;
    font-weight: bold;
    outline: none;
    padding: 20px 25px;
    text-transform: uppercase;
    transition: all 0.3s;
}

/*botón  aceptar update form y el de datos generales */

#aceptarUpdate, #aceptarPersonal, #aceptarinsertTienda, #aceptarupdateTienda {
    background: none;
    border: solid 2px #474544;
    color: #474544;
    cursor: pointer;
    display: inline-block;
    font-family: 'Helvetica', Arial, sans-serif;
    font-size: 0.875em;
    font-weight: bold;
    outline: none;
    padding: 20px 25px;
    width: 240px;
    text-transform: uppercase;
    transition: all 0.3s;
    margin: 10px;
}

#aceptarUpdate:hover, #aceptarPersonal:hover, #aceptarinsertTienda:hover, #aceptarupdateTienda:hover {
    background: green;
    color: #F2F3EB;
}

#cancelarUpdate:hover, #cancelarInsertTienda:hover, #cancelarupdateTienda:hover {
    background: red;
    color: #F2F3EB;
}

/*ACTUALIZAR TIENDA FORMULARIO e Insertar*/

#formNuevaTienda, #añadirForm {
    border: solid 3px #474544;
    width: 95%;
    margin: 5px auto;
    position: relative;
    display: none;
}

#formNuevaTienda h1 {
    font-size: 42px;
    font-weight: 600;
    letter-spacing: 3px;
}

/*Combo box*/

.modificartienda, .eliminartienda {
    text-align: center;
}



/*Foto de perfil en los formularios de insert y delete*/

#fotoPerfilInsert, #fotoPerfilInsertProducto {
    height: 200px;
    width: 200px;
    margin-left: 450px;
    border: 2px solid black;
    margin-top: -150px;
    position: absolute;
    object-fit: cover;
}

#fotoPerfilUpdate, #fotoPerfilUpdateProducto {
    height: 200px;
    width: 200px;
    margin-left: 450px;
    border: 2px solid black;
    margin-top: -75px;
    position: absolute;
    object-fit: cover;
}

/*Productos*/
#productos {
    display: flex;
    margin-top: 30px !important;
    width: 95%;
    margin: 0 auto;
}

.card, .card-body {
    background-color: #d4d4d4;
    border-radius: 0.25rem;
}

.cardProducto {
    height: 300px !important;
}

.cardProducto:not(:nth-child(-n+4)) {
    margin: 100px 0;
}

.cardProducto .card-img-top {
    height: 150px;
    width: 200px;
    margin: 10px 0;
    border-radius: 0.25rem;
}

.cardProducto .card-img-top:hover {
    transform: none;
    object-fit: initial;
}

#cardProducto .card-body {
    display: grid;
    flex-wrap: wrap;
}

.nombreTienda {
    font-size: 48px;
    margin-bottom: 100px;
    text-align: center;
    font-weight: 400 !important;
}

/*Boton de eliminar con efecto hover*/

.deleteProduct {
    border-radius: 2px;
    border: 3px solid #333;
    transition: all 0.5s ease;
    cursor: pointer;
    border: 2px solid black;
    color: white;
}

.deleteProduct:hover, button:hover {
    outline: 0;
    color: white;
}

.deleteProduct:active, button:active {
    outline: 0;
    color: white;
}

.deleteProduct {
    padding: 1.5em 1.5em;
    border: 1px solid black;
    color: white;
    background: linear-gradient(to left,  rgb(209, 52, 52) 50%,  red 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}

.deleteProduct:hover {
    background-position: left bottom;
}

/*Boton de eliminar con efecto hover*/

/*Boton de update con efecto hover*/

.modifyProduct {
    border-radius: 2px;
    border: 3px solid #333;
    transition: all 0.5s ease;
    cursor: pointer;
    border: 2px solid black;
    color: white;
    margin-top: -200px;
    
}

.modifyProduct:hover {
    outline: 0;
    color: white;
}

.modifyProduct:active {
    outline: 0;
    color: white;
}

.modifyProduct {
    padding: 1.5em 1.5em;
    border: 1px solid black;
    color: white;
    background: linear-gradient(to left, rgb(223, 102, 21) 50%,orange 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    margin-top: -200px;
}

.modifyProduct:hover {
    background-position: left bottom;
}

/*Boton de update con efecto hover fin*/


@media screen and (max-width:900px) {
    .botonesAcciones {
        display: none;
    }
    #zonaUsuario .header {
        height: auto;
    }
    /*Botones enviar y cancelar form*/
    .submit {
        margin-left: 100px !important;
    }
    /*Botones acciones para cada usuario*/
    .botonesAcciones2:not(h3) {
        display: grid;
        grid-gap: 10px;
        margin-bottom: 10px;
        margin-top: 40px;
        width: 200px;
        margin-bottom: 10px;
    }
    .botonesAcciones2 h3 {
        font-size: 18px;
    }
}